/* home */
.caro img {
    height: 600px;
    width: 100%;
    
}

/* product */
.card {
    border: 2px solid black;
    background-color: whitesmoke;
}

.card img {
    height: 280px;
    background-color: whitesmoke;
    border-bottom: 1px solid black;
}


.product-list li {
    list-style: none;
}

.prody {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;

}

/* cart */
.cart-list li {
    list-style: none;
}

.cart-list .card img {
    height: 280px;
    background-color: whitesmoke;
}
