/* home */
.caro img{
    height: 600px;
    width: 100%;
}

/* product */
.card{
    border: 1px solid black;
    background-color: lightblue;
}
.cardbox{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;

}
.card img{
    height: 250px;
    background-color: whitesmoke;
}
.cb{
    display: flex;
    justify-content: space-around;
  
}
.ct{
    margin: 0px 0px;
    text-align: center;
    
}
.ct p{
    margin: 5px;
}


.card li{
    list-style-type: none;
}
ul{
    display: flex;
    gap: 20px;flex-wrap: wrap;
}

/* about */
.acontent{
    display: block;
    text-align: center;
    max-width: 800px;
    margin: 15px 20%;
}

.acontent p{
    font-size: 18px;
}



/* Pages.css */

.cart-summary {
  margin-top: 20px;
  padding: 20px;
  border-top: 2px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns content to the right */
  
}

.summary-details {
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.6;
}

.checkout-btn {
  background-color: #28a745; /* Green color */
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%; /* Optional: Makes button full width on mobile */
  max-width: 250px;
}

.checkout-btn:hover {
  background-color: #218838; /* Darker green on hover */
}


/* cart */


.quantity-controls button{
    border: 1px inset black;
    border-radius: 20px;
    background-color: black;
    color: white;

}

.cart-item{
    display: block;
}